body{

background:#f4f6f9;

}

.card{

border-radius:12px;

}

.card-header{

font-size:20px;

font-weight:bold;

}

table{

font-size:14px;

}

.badge{

font-size:13px;

padding:8px;

}

.btn{

margin-right:5px;

}

#searchInput{

width:300px;

}